@import url('https://rsms.me/inter/inter.css');

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: 'Inter var', sans-serif;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4='),
    auto;
}

h1 {
  font-size: 20em;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

.github {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 16px;
  transition: all .25s ease-in-out;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.github:hover {
  opacity: .5;
}

.github .author {
  padding-left: 8px;
}

@media only screen and (max-width: 840px) {
  .tips {
    transform: translateX(-50%) scale(.8) !important;
  }
}